// tab
.tab{
    display: flex;
    align-items: center;

    li{
        font-size: 1.6rem;

        &:hover{
            cursor: pointer;
        }
    }
}

//btn
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5rem;
    border-radius: 1rem;

    &-page{
        width: 100%;
        color: #fff;
        background-color: #000;
    }
}